
@{
    Layout = null;
}
@model General.Entities.LoginModel
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>LoginIndex</title>
</head>
<body>


    <form >
        <input type="hidden" id="r_random" value="@Model.R" />
        <table>
            <tr>
                <td><label>用户名：</label></td>
                <td>@Html.TextBoxFor(m => m.Account)</td>
            </tr>
            <tr>
                <td><label>密码：</label></td>
                <td>@Html.TextBoxFor(m => m.Password)</td>
            </tr>
            <tr>
                <td><p id="error_msg"></p></td>
                <td><button id="myButton" type="button">登 录</button></td>
            </tr>
        </table>
    </form>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-validation/dist/jquery.validate.min.js"></script>
    <script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
    <script src="~/js/jquery.md5.js"></script>

    <script>
        $(function () {
            $("#myButton").click(function () {
                if ($("form").valid()) {
                    var account = $("#Account").val();
                    var password = $("#Password").val();
                    var r = $("#r_random").val();
                    $.get('@Url.RouteUrl("getSalt")?account=' + account, function (salt) {
                        password = $.md5(password + salt);
                        password = $.md5(password + r);
                        
                        $.post('@Url.RouteUrl("adminLogin1")', { "Account": account, "Password": password }, function (data) {
                            if (data.status) {
                                $("#error_msg").html("登录成功，正在进入系统...");
                                window.location.href = '@Url.RouteUrl("mainIndex")';
                            } else {
                                $("#error_msg").html(data.message);
                            }
                        })
                    })
                }
            });
        });
    </script>
</body>
</html>
